* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: inherit;
}

.menu-bar {

    text-align: center;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: blue;
}

.active,
.menu-bar ul li:hover {
    background: #00bfff;
    border-radius: 3px;
}

.sister-concern h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.sister-concern body {
    min-height: 200vh;
    display: grid;
    place-items: center;
}

.container {
    height: 300px;
    margin: 0% 2% 0% 2%;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-container {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide-image {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide-image img {
    width: 100%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

.service_heading {
	text-transform: uppercase;
	position: relative;
}

.service_heading:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 0%;
	height: auto;
	border-bottom: 3px solid #3e4555;
	transition: all 0.3s linear;
}

.service_heading:hover:after {
	width: 20%
}

.service {
	color: #8d97ad;
	font-weight: 300;
}

.service h1, .service h2, .service h3, .service h4, .service h5, .service h6 {
	color: #3e4555;
}

.service h6 {
	line-height: 22px;
	font-size: 18px;
	color: #8d97ad;
}

.service .font-weight-medium {
	font-weight: 500;
	color: #3e4555;
}

.service .badge {
	line-height: 15px;
}

.service .badge-info {
	background: #188ef4;
}

.service .subtitle {
	color: #8d97ad;
	line-height: 24px;
}

.service .img-shadow {
	box-shadow: 0 0 30px rgba(115, 128, 157, 0.3);
}

.service .wrap-service .img-hover {
	transition: all 0.2s ease-in;
}

.service .wrap-service .img-hover:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.service .wrap-service .uneven-box {
	margin-top: 100px;
}

.service .btn-sm {
	padding: 6px 14px;
	font-size: 16px;
	background: #188ef4;
}

.service .btn-sm:hover {
	color: #188ef4;
	background: #fff;
	border: 1px solid #188ef4;
}

@media(max-width:768px) {
	.service .wrap-service .uneven-box {
		margin-top: 10px;
	}

}

footer body {
    box-sizing: border-box;
    background: #eef8ff;
}

footer {
    width: 100%;
    position: static;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .col h4 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col h5 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}